<a href="https://colab.research.google.com/github/mhc999/ML-PY/blob/main/Handling_Imbalanced_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The dataset is imbalanced i.e., the number of values for True might be way greater than the number of values available for False

In [14]:
import numpy as np
import pandas as pd

In [15]:
# load the dataset to pandas dataframe
# this data is used to predict whether the transaction is legit or not
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [16]:
credit_card_data.head()
# 0 = legit

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [17]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [19]:
credit_card_data['Class'].value_counts()
# This is highly imbalanced dataset

0    284315
1       492
Name: Class, dtype: int64

In [20]:
# seperate the legit and fraud data
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [21]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

UNDERSAMPLING :
Take a random sample of data points similar to the other value

In [23]:
legit_sample = legit.sample(n=492)

In [24]:
print(legit_sample.shape)

(492, 31)

In [26]:
# add the legit_sample and fraud to a new dataframe where the data is now not imbalanced
new_df = pd.concat([legit_sample, fraud] , axis = 0)
# axis = 0 --> the two data sets will be added row wise one after the other
# axis = 0 --> the two data sets will be added column wise one after the other

In [27]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
64140,51046.0,-0.994985,1.155481,1.174907,-0.295866,-0.293186,0.027037,-0.257573,-0.256128,-0.975615,...,0.868207,-0.042662,-0.000285,0.091579,-0.350184,1.100661,-0.031023,0.010773,3.84,0
195212,130954.0,1.841678,0.178295,0.259583,3.879975,-0.367602,0.338461,-0.575910,0.175492,-0.148776,...,0.171765,0.565794,0.185969,-0.125955,-0.269845,0.037326,0.013283,-0.031999,15.13,0
90006,62832.0,-0.049331,0.941441,0.791333,1.320205,-0.189915,0.692085,-0.978212,-2.529831,-1.083210,...,-1.059658,0.974278,-0.118054,0.052874,0.676463,-0.115779,0.137268,0.252109,36.92,0
66318,51990.0,-1.524766,1.083197,0.620158,-1.155931,-0.061024,-0.621694,0.017109,0.742820,-0.771487,...,0.116120,-0.002313,-0.095935,-0.182700,-0.148021,0.835501,-0.355506,-0.088149,5.00,0
194524,130628.0,0.047619,1.020999,-1.057036,-0.750671,1.025291,0.219427,0.204852,0.537689,-0.297117,...,0.036210,0.088242,0.034773,-0.424705,-0.872716,0.245381,-0.019967,0.051650,2.36,0

In [28]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [30]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64